{% extends 'base.html' %}

{% block content %}



<div class="main-content">
  <!--h2>Choose!</h2-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">OtterTune</a>
    </li>
    <li class="breadcrumb-item active">Tune</li>
  </ol>

  <div class="card">
    <div class="card-header">Choose Your Settings</div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Knob Name</th>
            <th scope="col">Description</th>
            <th scope="col">Default Value</th>
            <th scope="col">Your Setting</th>
          </tr>
        </thead>

        <tbody>
          {% for field in form  %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field.help_text }}</td>
            <td>{{ field.initial }}</td>
            <td>{{ field }}</td>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card-footer">    
      <form> 
      Username:   <input type="text" name="username">
      Email:   <input type="text" name="email">
      <button type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}