{% extends 'base.html' %}

{% block content %}



<div class="main-content">
  <!--h2>Choose!</h2-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">OtterTune</a>
    </li>
    <li class="breadcrumb-item active">Tune</li>
  </ol>

  <div class="card">
    <div class="card-header">Choose Your Settings</div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Knob Name</th>
            <th scope="col">Description</th>
            <th scope="col">Default Value</th>
            <th scope="col">Your Setting</th>
          </tr>
        </thead>

        <tbody>
          {% for x, y in knobs  %}
          <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.description }}</td>
            <td>{{ x.default }}</td>
            <td>
            <select class="custom-select">
              {% for choice in y %}
              <option>{{ choice }}</option>
              {% endfor %}
            </select>
            </td>
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card-footer">    
      <form> 
      Username:   <input type="text" name="username">
      Email:   <input type="text" name="email">
      <button type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}